.recipe-section {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.recipe-section .section-header {
    display: flex;
    flex-direction: row;
}

.recipe-section .section-hide {
    margin-left: auto;
}