.recipe_section {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: beige;
    border: 1px solid black;
    border-radius: 15px;
}

.recipe_section .section_header {
    display: flex;
    flex-direction: row;
    background-color: inherit;
    border-bottom: 1px solid black;
    padding: 14px;
}

.recipe_section .section_open {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.recipe_section .section_hidden {
    border-radius: 15px;
}

.recipe_section .section_hide {
    margin-left: auto;
}

.recipe_section .title_text {
    font-size: 24px;
}